* {
  font-family: Helvetica, sans-serif;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

li {
  list-style: none;
}

.main-section {
  padding-inline: 7rem;
}

.background-color-custom {
  background-color: #f1f3ff;
}

.btn-success {
  background-color: #5cb85f;
  border: transparent;
}

#header {
  padding-block: 1rem;
  position: fixed;
  width: 101%;
  z-index: 100;
}

#logo {
  background-color: darkblue;
  width: 4rem;
}

.header-desktop {
  display: block;
}

.header-mobile {
  display: none;
}

.header-nav a,
button {
  margin-left: 2rem;
}

.header-nav-desktop {
  display: block;
}

.header-nav-mobile {
  display: none;
}

#mobile-sidenav {
  display: none;
}


.image1 {
  position: relative;
  top: 170px;
  right: 15px;
  max-width: 704px;
  max-height: 407px;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 704px;
  max-height: 407px;
}
#desc {
  padding-left: 7rem;
  padding-top: 7rem;
  display: flex;
  flex-direction: row;
}

#desc section {
  padding-right: 0;
}

.desc-text {
  padding-block: 5rem;
}

.desc-text p {
  padding-right: 17rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.descdesktop {
  display: inline;
}

.descdesktop h1 {
  margin-right: 3rem;
}

.descmobile {
  display: none;
}

.button-mulai-sewa {
  margin-left: 0;
}

.car-image {
  align-items: flex-end;
}

.car-image img {
  width: 100%;
}

#our-service {
  margin-block: 2rem;
  margin-top: 5rem;
}

#our-service h4 {
  margin-bottom: 2rem;
}

.section-service {
  padding: 4rem;
  padding-bottom: 0;
}

.service-icon p {
  margin-bottom: 0.5rem;
  height: 2rem;
}

.service-icon i {
  background-color: #cfd4ed;
  color: darkblue;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 1em;
  padding: 2px;
}

.dot1 {
  position: relative;
  height: 133px;
  width: 133px;
  background-color: #92d094;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.dot2 {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #fa2c5a;
  border-radius: 50%;
  top: -90px;
  left: 400px;
}

.dot3 {
  position: relative;
  height: 48px;
  width: 48px;
  background-color: #f9cc00;
  border-radius: 50%;
  top: 200px;
  left: 50px;
}

.dot4 {
  position: relative;
  height: 360px;
  width: 360px;
  background-color: #0d28a6;
  border-radius: 50%;
  bottom: 130px;
  left: 100px;
}

#why-us {
  padding-top: 7rem;
}

#why-us p {
  margin-block: 1rem;
  margin-bottom: 3rem;
}

.why-card {
  margin-left: 0.05rem;
  justify-content: space-between;
}

.card {
  padding: 0.75rem;
  width: 19rem;
  height: 13.5rem;
  justify-content: center;
}

.card h5 {
  margin-block: 1rem;
}

.circle1 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: #f9cc00;
  color: white;
  margin-bottom: 16px;
  margin-top: 10px;
}

.circle2 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px 9px;
  background-color: #fa2c5a;
  color: white;
  margin-bottom: 16px;
  margin-top: 10px;
}

.circle3 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: #0d28a6;
  color: white;
  margin-bottom: 16px;
  text-align: justify;
  margin-top: 10px;
}

.circle4 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 10px;
  background-color: #5cb85f;
  color: white;
  margin-bottom: 16px;
  margin-top: 10px;
}

.roundedImage {
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 50px 46px 95px;
}

#testimonial {
  text-align: center;
  padding-top: 7rem;
}

#testimonial .title-desc {
  margin: 1rem;
  margin-bottom: 2rem;
}

.carousel-card {
  background-color: #f1f3ff;
  width: 50%;
  height: auto;
  text-align: left;
  border: transparent;
  margin: auto;
}

.roundedButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 10px;
  padding: 3px;
  display: inline-block;
}

.roundedButton:hover {
  background-color: #0fa114;
}

.carousel-card .card-body {
  padding: 4rem;
}

.carousel-profile-name {
  margin-bottom: 0;
}

.bi-star-fill {
  color: yellow;
}

.reverse-image {
  transform: scaleX(-1);
}

.slide-desktop {
  display: inline;
}

.slide-mobile {
  display: none;
}

.carousel-button {
  background-color: transparent;
  margin-inline: 0.5rem;
  margin-top: 2rem;
  border: transparent;
  position: relative;
  display: inline-block;
  padding: 0;
}

.carousel-button .carousel-button-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.carousel-button:hover .carousel-button-hover {
  display: inline;
}

.carousel-inner {
  width: 150%;
  left: -25%;
}

.carousel-item-next:not(.carousel-item-start),
.carousel-item-end.active {
  transform: translate3d(33%, 0, 0);
}

.carousel-item-prev:not(.carousel-item-end),
.carousel-item-start.active {
  transform: translate3d(-33%, 0, 0);
}

.carousel-item .card {
  float: left;
  margin-right: 10px;
  width: calc(33% - 10px);
}

#book {
  margin-inline: 10px;
  margin-top: 60px;
  background-color: darkblue;
  color: white;
  padding: 60px;
  border-radius: 15px;
  margin-inline: 30px;
}

#book h2 {
  margin-bottom: 20px;
}

#book p {
  padding-inline: 0rem;
}

#book .btn-success {
  background-color: #5cb85f;
  margin-top: 10px;
  margin-inline: 0;
}

#faq {
  padding-top: 7rem;
}

#faq h4 {
  margin-bottom: 1rem;
}

.accordion-item {
  width: 100%;
  margin-block: 1rem;
  border: 1px solid grey;
}

.accordion-item button {
  margin: 0;
}

/* Footer */

#footer {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

#footer p {
  margin-bottom: 1rem;
}

.footer-nav li {
  list-style: none;
  margin-bottom: 1rem;
  padding-left: 6rem;
}

.footer-connect-icon img {
  margin-right: 0.5rem;
}

#footer-logo {
  background-color: darkblue;
  width: 7rem;
}
.flexing {
  display: flex;
}

.footer {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px 11px;
  background-color: #0d28a6;
  color: white;
  margin-bottom: 16px;
}

.brand {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px;
  background-color: #0d28a6;
  color: white;
  margin-bottom: 16px;
  margin-left: 10px;
}
